<section>
    <h2 class="text-center">SKILLS</h2>
    <h6 class="text-center">What I've learnt so far...</h6>
    <br />
    <div class="row mx-auto">
        {% for item in site.data.skills %}
        <div class="col-lg-2 col-md-2 col-sm-4 col-6 text-center p-3 scroll_hidden icon">
            <!-- Icon -->
            <i class="{{ item.logo }} devicon"></i>

            <!-- Icon Name-->
            <h4 class="mt-3">{{ item.name }}</h4>
        </div>
        {% endfor %}
    </div>
</section>