<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <!-- Logo -->
        <!-- <a class="navbar-brand" href="/">
            <img src="{{ site.logo }}" height="50" alt="">
        </a> -->

        <!-- Hamburger Icon -->
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar menu items -->
        <div class="collapse navbar-collapse" id="navMenu">
            <div class="navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                    <a href="{{ item.link }}" class="nav-item nav-link {% if page.url==item.link %}active{% endif %}">
                        <i class="fas {{ item.logo }}"></i> 
                        {{ item.name }}
                        {% if page.url==item.link %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </nav>
</header>