<style>
    .jumbotron {
        background-image: url("/assets/images/banner.jpg");
        color: var(--white);
    }
</style>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <img class="img-fluid" src="/assets/images/logo.png" />
        <h1 class="display-3">Ali Jarjis</h1>
        <p class="lead">Current Computer Science student freelancing as a web developer, 
            proficient in HTML, CSS, JavaScript, Java and Adobe Photoshop.</p>
    </div>
</div>