<style>
    .jumbotron {
        background-image: url("/assets/images/hero.jpg");
        color: var(--white);

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: var(--black);
        height: 100%;
    }

    /* .sps {
        transition: all 0.25s ease;
    }

    .sps--abv {
        background-color: transparent !important;
        color: #000 !important;
    }
    
    .sps--blw {
        background-color: #333 !important;
        color: #fff !important;
    }     */
</style>

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <img class="img-fluid" src="{{ site.logo }}" />
        <h1 class="display-3">{{ site.title }}</h1>
        <p class="lead">
            Computer Science student with experience as both a web and mobile developer.
        </p>
    </div>
</div>